<template>
  <div class="container">
    <div class="card-panel">
      <div class="c25">
        <p class="c27" id="h.gjdgxs">
          <span
            class="c7 c26"
          >Cuestionario para Identificar los Factores de Riesgo Psicosocial en los Centros de Trabajo</span>
        </p>
        <p class="c27 c9">
          <span class="c6"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">CONSIDERACIONES</span>
        </p>
        <p class="c2 c9">
          <span class="c23 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c0"
          >Se puede utilizar cualquier navegador para acceder v&iacute;a internet a esta plataforma, pero &nbsp;se recomienda</span>
          <span class="c0 c4">Mozilla Firefox o Google Chrome.</span>
          <span class="c0 c7">&nbsp;</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c0 c7"
          >Para mejor desempe&ntilde;o utilizar Laptop o Computadora Personal y una conexi&oacute;n estable de internet.</span>
        </p>
        <p class="c2 c9">
          <span class="c6"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">&iquest;Qu&eacute; es un diagnostico en esta plataforma?</span>
        </p>
        <p class="c2 c9">
          <span class="c5 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c24"
          >Le llamaremos al conjunto de informaci&oacute;n necesaria y definiciones &nbsp;que se requieren para que se pueda aplicar con &eacute;xito el</span>
          <span
            class="c4 c24"
          >Cuestionario para Identificar los Factores de Riesgo Psicosocial en los Centros de Trabajo</span>
          <span class="c24">&nbsp;debidamente personalizado para una empresa o usuario</span>
          <span class="c18">.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c17 c7"
          >&iquest;C&oacute;mo se da el alta de un diagnostico en esta plataforma?</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c23 c4">Human Express</span>
          <span class="c11 c4">&nbsp;</span>
          <span
            class="c0"
          >le solicitar&aacute; correo electr&oacute;nico y raz&oacute;n social de su empresa para as&iacute; dar de alta un diagnostico personalizado en la plataforma; Una vez con sus datos se le asignar&aacute; un</span>
          <span class="c5 c4">Usuario y Clave de Acceso</span>
          <span
            class="c0 c7"
          >&nbsp;para empezar con la aplicaci&oacute;n del cuestionario con todas sus ventajas y beneficios.</span>
        </p>
        <p class="c2 c9">
          <span class="c6"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">CUESTIONARIO</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c0"
          >El cuestionario est&aacute; dise&ntilde;ado para que pueda ser comprendido de una manera f&aacute;cil y pr&aacute;ctica, adecuado a cualquier nivel sociocultural. Consta de</span>
          <span class="c5">46</span>
          <span class="c0">&nbsp;preguntas para</span>
          <span
            class="c0 c4"
          >Identificar los Factores de Riesgo Psicosocial en los Centros de Trabajo</span>
          <span class="c0">&nbsp;con</span>
          <span class="c5 c4">8 Dominios</span>
          <span class="c0">&nbsp;y</span>
          <span class="c5 c4">4 Categor&iacute;as</span>
          <span class="c0 c7">&nbsp;como se muestra:</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c8">DOMINIOS:</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c5">I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Condiciones en el ambiente de trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Carga de trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Falta de control sobre el trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Jornada de trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Interferencia en la relaci&oacute;n trabajo-familia</span>
        </p>
        <p class="c2">
          <span class="c5">VI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Liderazgo</span>
        </p>
        <p class="c2">
          <span class="c5">VII&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Relaciones en el trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">VIII&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c7">Violencia</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c8">CATEGORIAS:</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c5">1)</span>
          <span class="c0 c7">&nbsp;Ambiente de trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">2)</span>
          <span class="c0 c7">&nbsp;Factores propios de la actividad</span>
        </p>
        <p class="c2">
          <span class="c5">3)</span>
          <span class="c0 c7">&nbsp;Organizaci&oacute;n del tiempo de trabajo</span>
        </p>
        <p class="c2">
          <span class="c5">4)</span>
          <span class="c0 c7">&nbsp;Liderazgo y relaciones en el trabajo</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <h2 class="c3">
          <span class="c11">Escala de Calificaci&oacute;n:</span>
          <span class="c11">&nbsp;</span>
          <span class="c0 c7">La escala de calificaci&oacute;n de cada pregunta del cuestionario es:</span>
        </h2>
        <h2 class="c3 c19">
          <span class="c0 c12">Rango</span>
          <span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="c0 c12">Descripci&oacute;n</span>
        </h2>
        <h2 class="c2 c14">
          <span
            class="c0 c7"
          >&nbsp;&nbsp;&nbsp;0 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nulo</span>
        </h2>
        <h2 class="c2 c14">
          <span
            class="c0 c7"
          >&nbsp;&nbsp; 1 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Casi nunca</span>
        </h2>
        <h2 class="c2 c14">
          <span
            class="c0 c7"
          >&nbsp;&nbsp; 2 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Algunas veces</span>
        </h2>
        <h2 class="c2 c14">
          <span
            class="c0 c7"
          >&nbsp;&nbsp; 3 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Casi siempre&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </h2>
        <h2 class="c2 c14">
          <span
            class="c0 c7"
          >&nbsp;&nbsp; 4 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Siempre</span>
        </h2>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c0">El cuestionario con sus</span>
          <span class="c23">46</span>
          <span class="c5">&nbsp;</span>
          <span
            class="c0 c7"
          >preguntas se resuelve entre 8 y 12 minutos en promedio por la opci&oacute;n de &ldquo;INDIVIDUAL / EN LINEA&rdquo;.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c0 c7"
          >Por la opci&oacute;n de &ldquo;CAPTURA MASIVA&rdquo; lleva en promedio entre 1 y 1.5 minutos capturar una hoja de respuestas de manera manual en la plataforma.</span>
        </p>
        <p class="c2 c9">
          <span class="c6"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">OPCIONES DE USO</span>
        </p>
        <p class="c2 c9">
          <span class="c17 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">MONITOREO:</span>
          <span class="c1">&nbsp;</span>
          <span
            class="c0 c7"
          >Permite visualizar en tiempo real la cantidad total de participantes obtenida por la opci&oacute;n &ldquo;INDIVIDUAL / EN LINEA&rdquo; o &ldquo;CAPTURA MASIVA&rdquo;.</span>
        </p>
        <p class="c2">
          <span class="c13">INDIVIDUAL /&nbsp; EN LINEA:</span>
          <span class="c1">&nbsp;</span>
          <span class="c0">Permite visualizar en el navegador de internet el &nbsp;&ldquo;</span>
          <span class="c5 c4">link&rdquo;</span>
          <span
            class="c0 c7"
          >que se les podr&aacute; hacer llegar v&iacute;a correo electr&oacute;nico a los participantes para que puedan resolver el cuestionario ON LINE.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <ol class="c15 lst-kix_list_10-0 start" start="1">
          <li class="c2 c28">
            <span
              class="c0 c7"
            >Al ingresar a esta opci&oacute;n v&iacute;a men&uacute; o a trav&eacute;s del &ldquo;</span>
            <span class="c5 c4 c10">link&rdquo;</span>
            <span class="c0 c7">, la plataforma solicitar&aacute; el &ldquo;</span>
            <span class="c5 c10 c4">C&oacute;digo de acceso&rdquo;</span>
            <span class="c0 c7">&nbsp;que permite resolver el cuestionario de preguntas.&nbsp;</span>
          </li>
        </ol>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <ol class="c15 lst-kix_list_10-0" start="2">
          <li class="c2 c28">
            <span class="c0 c7">El &ldquo;</span>
            <span class="c5 c10 c4">C&oacute;digo de acceso&rdquo;</span>
            <span
              class="c0 c7"
            >&nbsp;se encuentra en la parte superior derecha de la pantalla principal del men&uacute; y consta de 8 d&iacute;gitos.</span>
          </li>
        </ol>
        <p class="c2 c9">
          <span class="c13 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">CAPTURA MASIVA:</span>
          <span class="c1">&nbsp;</span>
          <span class="c0">Despliega</span>
          <span
            class="c0 c7"
          >&nbsp;una pantalla que permite que cuestionarios resueltos en hoja de respuestas por los participantes sean capturados en la plataforma y adicionados manualmente a la Base de Datos de la plataforma.</span>
        </p>
        <p class="c2">
          <span
            class="c0 c7"
          >Al alimentar un cuestionario la plataforma autom&aacute;ticamente ofrece una pantalla nueva de captura.</span>
        </p>
        <p class="c2 c9">
          <span class="c23 c7"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">RESULTADOS GRAFICOS E INTERPRETATIVOS</span>
        </p>
        <p class="c2 c19 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">VER RESULTADOS:</span>
          <span class="c1">&nbsp;</span>
          <span
            class="c0 c7"
          >Esta opci&oacute;n solo est&aacute; disponible cuando se cierra el proceso por la opci&oacute;n &ldquo;INDIVIDUAL / EN LINEA&rdquo; o &ldquo;CAPTURA MASIVA&rdquo; y el switch que aparece en la parte superior de la pantalla &nbsp;est&aacute; en posici&oacute;n &ldquo;Inactivo&rdquo;.</span>
        </p>
        <p class="c2 c9">
          <span class="c5 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">Participantes:</span>
          <span class="c1">&nbsp;</span>
          <span
            class="c0"
          >Permite exportar la totalidad de los registros contenidos en la base de datos de la plataforma en formato &ldquo;</span>
          <span class="c5 c4">Excel&rdquo;</span>
          <span
            class="c0 c7"
          >. Dicho archivo podr&aacute; ser visualizado o guardado en cualquier dispositivo electr&oacute;nico.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">Respuestas Global:</span>
          <span class="c1">&nbsp;</span>
          <span class="c0">Despliega una gr&aacute;fica de pastel cuantitativa por cada</span>
          <span class="c5 c4">Dominio</span>
          <span
            class="c0 c7"
          >&nbsp;considerado en el cuestionario con resultados globales, segmentando el total y porcentaje de participantes cuyas respuestas est&aacute;n en:</span>
        </p>
        <p class="c2">
          <span class="c0 c7">Rango de 0 a 1 y de 2 a 4 &nbsp;</span>
        </p>
        <p class="c2 c9">
          <span class="c7 c21"></span>
        </p>
        <p class="c2">
          <span class="c1">Global:</span>
          <span
            class="c0"
          >Despliega gr&aacute;ficas con una serie de barras horizontales de manera cualitativa por cada</span>
          <span class="c5 c4">Dominio y Categor&iacute;a</span>
          <span
            class="c0"
          >&nbsp;considerados en el cuestionario, defini&eacute;ndose adem&aacute;s el</span>
          <span class="c5 c4">Nivel de Riesgo</span>
          <span
            class="c0"
          >&nbsp;global. Un informe textual de resultados acompa&ntilde;a a cada grafica &nbsp;proporcionando un diagn&oacute;stico y recomendaciones.</span>
        </p>
        <h2 class="c2 c20">
          <span class="c1">Entidad:</span>
          <span
            class="c0 c7"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de</span>
        </h2>
        <h2 class="c2 c20">
          <span class="c0">participantes por cada</span>
          <span class="c0 c4">Entidad</span>
          <span
            class="c0"
          >&nbsp;considerada en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada</span>
          <span class="c0 c4">Entidad &nbsp;</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">&Aacute;rea / Departamento:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada</span>
          <span class="c0 c4">&Aacute;rea</span>
          <span
            class="c0"
          >considerada en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada</span>
          <span class="c0 c4">&Aacute;rea &nbsp;</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Turno:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada</span>
          <span class="c0 c4">Turno</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada</span>
          <span class="c0 c4">Turno &nbsp;</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">G&eacute;nero:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada</span>
          <span class="c0 c4">Genero</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada</span>
          <span class="c0 c4">Genero &nbsp;</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Rango de edad:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada</span>
          <span class="c0 c4">Rango de edad</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada</span>
          <span class="c0 c4">Rango de edad</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Estudios concluidos:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada nivel de</span>
          <span class="c0 c4">Estudios concluidos</span>
          <span class="c0">&nbsp;</span>
          <span class="c0 c4">&nbsp;</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada nivel de</span>
          <span class="c0 c4">Estudios concluidos</span>
          <span class="c0">&nbsp;existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Antig&uuml;edad en la empresa:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada rango de</span>
          <span class="c0 c4">Antig&uuml;edad</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada rango de</span>
          <span class="c0 c4">Antig&uuml;edad</span>
          <span class="c0">&nbsp;existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Rotaci&oacute;n de turnos:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes</span>
          <span class="c0 c4">que si y no Rotan turnos</span>
          <span
            class="c0"
          >, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa de participantes</span>
          <span class="c0 c4">que si y no Rotan turnos</span>
          <span class="c0">&nbsp;con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">A&ntilde;os de experiencia en el puesto:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada rango de</span>
          <span class="c0 c4">A&ntilde;os de experiencia en el puesto</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada rango de</span>
          <span class="c0 c4">A&ntilde;os de experiencia en el puesto</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">A&ntilde;os laborados en la vida:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada rango de</span>
          <span class="c0 c4">A&ntilde;os laborados en la vida</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada rango de</span>
          <span class="c0 c4">A&ntilde;os laborados en la vida</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Categor&iacute;a:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada rango de</span>
          <span class="c0 c4">Categor&iacute;a</span>
          <span class="c0 c4">de puesto</span>
          <span class="c0 c4">&nbsp;</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada</span>
          <span class="c0 c4">Categor&iacute;a</span>
          <span class="c0 c4">de puesto</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <h2 class="c3">
          <span class="c1">Contrato:</span>
          <span
            class="c0"
          >Despliega una gr&aacute;fica de pastel cuantitativa con el total y porcentaje de participantes por cada tipo de</span>
          <span class="c0 c4">Contrato</span>
          <span
            class="c0"
          >considerado en el cuestionario, adem&aacute;s de una gr&aacute;fica con barras horizontales de manera cualitativa por cada tipo de</span>
          <span class="c0 c4">Contrato</span>
          <span class="c0">existente con su</span>
          <span class="c0 c4">&nbsp;</span>
          <span class="c0 c7">informe textual de diagn&oacute;stico y recomendaciones.</span>
        </h2>
        <p class="c2 c9">
          <span class="c7 c17"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">IMPRESION</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span
            class="c0"
          >Cada reporte gr&aacute;fico y textual adem&aacute;s de ser visualizado por pantalla se puede imprimir en papel y/o convertirse en un archivo &ldquo;</span>
          <span class="c5 c4">PDF&rdquo;</span>
          <span class="c0">&nbsp;f&aacute;cilmente con tan solo dar un</span>
          <span class="c5 c4">clic</span>
          <span
            class="c0 c7"
          >&nbsp;en el s&iacute;mbolo de impresora que aparece dentro de un c&iacute;rculo de color &nbsp;en la parte inferior derecha de su pantalla.</span>
        </p>
        <p class="c2 c9">
          <span class="c17 c7"></span>
        </p>
        <p class="c2">
          <span class="c17 c7">MENSAJES</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">Aun no hay diagn&oacute;sticos:</span>
          <span class="c1">&nbsp;</span>
          <span
            class="c0"
          >Este mensaje se presenta cuando no se ha creado &nbsp;en la plataforma un diagn&oacute;stico personalizado para aplicar el</span>
          <span
            class="c0 c4"
          >Cuestionario para Identificar los Factores de Riesgo Psicosocial en los Centros de Trabajo</span>
          <span class="c0">&nbsp; para la empresa o usuario.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">ACTIVO:</span>
          <span class="c1">&nbsp;</span>
          <span
            class="c0"
          >Significa que el switch que aparece en la parte superior de la pantalla &nbsp;est&aacute; en posici&oacute;n &ldquo;Activo&rdquo;, por lo que</span>
          <span class="c5 c12">habilita</span>
          <span
            class="c0"
          >&nbsp;las opciones de &ldquo;MONITOREO, INDIVIDUAL / EN LINEA&rdquo; y &ldquo;CAPTURA MASIVA&rdquo; en la plataforma.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">INACTIVO:</span>
          <span class="c1">&nbsp;</span>
          <span
            class="c0"
          >Significa que el switch que aparece en la parte superior de la pantalla est&aacute; en posici&oacute;n &ldquo;Inactivo&rdquo; &nbsp;por lo que</span>
          <span class="c5 c12">inhabilita</span>
          <span
            class="c0 c7"
          >&nbsp;las opciones &ldquo;INDIVIDUAL / EN LINEA&rdquo; y &ldquo;CAPTURA MASIVA&rdquo; pero se activa la opci&oacute;n de &ldquo;VER RESULTADOS&rdquo; que permite desplegar gr&aacute;ficos y textuales siempre y cuando exista informaci&oacute;n previa en la plataforma obtenida por la opci&oacute;n &ldquo;INDIVIDUAL / EN LINEA&rdquo; o &ldquo;CAPTURA MASIVA&rdquo;.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">Nadie ha participado a&uacute;n en el diagn&oacute;stico:</span>
          <span
            class="c0 c7"
          >Significa que no hay informaci&oacute;n previa en la base de datos de la plataforma obtenida por la opci&oacute;n</span>
        </p>
        <p class="c2">
          <span class="c0 c7">&ldquo;INDIVIDUAL / EN LINEA&rdquo; o &ldquo;CAPTURA MASIVA&rdquo;.</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
        <p class="c2">
          <span class="c13">Cont&aacute;ctanos para la asignaci&oacute;n de diagn&oacute;sticos:</span>
          <span class="c24">Este mensaje aparece para que la empresa o usuario contacte a</span>
          <span class="c24 c4">Human Express</span>
          <span
            class="c0 c7"
          >&nbsp;e iniciar con el proceso de configuraci&oacute;n de la plataforma:</span>
        </p>
        <p class="c2">
          <span class="c22">
            <a
              class="c16"
              href="mailto:promocionyventas@human-express.com"
            >promocionyventas@human-express.com</a>
          </span>
          <span class="c0 c7">&nbsp;</span>
        </p>
        <p class="c2">
          <span class="c21 c7">M&oacute;vil o WhatsApp (664) 123 71 79</span>
        </p>
        <p class="c2 c9">
          <span class="c0 c7"></span>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "help"
};
</script>
<style>
@import url("https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLVumN3ATOVc2BoeDKcwJhFTljiSzuFEcjsip7pjNdcnF");
ol.lst-kix_list_9-0.start {
  counter-reset: lst-ctn-kix_list_9-0 0;
}
.lst-kix_list_8-1 > li {
  counter-increment: lst-ctn-kix_list_8-1;
}
ol.lst-kix_list_8-2.start {
  counter-reset: lst-ctn-kix_list_8-2 0;
}
.lst-kix_list_5-0 > li {
  counter-increment: lst-ctn-kix_list_5-0;
}
.lst-kix_list_9-0 > li {
  counter-increment: lst-ctn-kix_list_9-0;
}
ol.lst-kix_list_1-5.start {
  counter-reset: lst-ctn-kix_list_1-5 0;
}
ol.lst-kix_list_9-6.start {
  counter-reset: lst-ctn-kix_list_9-6 0;
}
ol.lst-kix_list_5-3.start {
  counter-reset: lst-ctn-kix_list_5-3 0;
}
.lst-kix_list_1-2 > li {
  counter-increment: lst-ctn-kix_list_1-2;
}
.lst-kix_list_5-2 > li {
  counter-increment: lst-ctn-kix_list_5-2;
}
ol.lst-kix_list_8-8.start {
  counter-reset: lst-ctn-kix_list_8-8 0;
}
ol.lst-kix_list_10-4.start {
  counter-reset: lst-ctn-kix_list_10-4 0;
}
.lst-kix_list_9-2 > li {
  counter-increment: lst-ctn-kix_list_9-2;
}
ol.lst-kix_list_8-7.start {
  counter-reset: lst-ctn-kix_list_8-7 0;
}
.lst-kix_list_5-0 > li:before {
  content: "" counter(lst-ctn-kix_list_5-0, decimal) ". ";
}
.lst-kix_list_5-4 > li {
  counter-increment: lst-ctn-kix_list_5-4;
}
.lst-kix_list_1-4 > li {
  counter-increment: lst-ctn-kix_list_1-4;
}
ol.lst-kix_list_1-6.start {
  counter-reset: lst-ctn-kix_list_1-6 0;
}
.lst-kix_list_5-3 > li:before {
  content: "" counter(lst-ctn-kix_list_5-3, decimal) ". ";
}
ol.lst-kix_list_9-5.start {
  counter-reset: lst-ctn-kix_list_9-5 0;
}
.lst-kix_list_5-2 > li:before {
  content: "" counter(lst-ctn-kix_list_5-2, lower-roman) ". ";
}
.lst-kix_list_8-3 > li {
  counter-increment: lst-ctn-kix_list_8-3;
}
.lst-kix_list_5-1 > li:before {
  content: "" counter(lst-ctn-kix_list_5-1, lower-latin) ". ";
}
.lst-kix_list_5-7 > li:before {
  content: "" counter(lst-ctn-kix_list_5-7, lower-latin) ". ";
}
.lst-kix_list_5-6 > li:before {
  content: "" counter(lst-ctn-kix_list_5-6, decimal) ". ";
}
.lst-kix_list_5-8 > li:before {
  content: "" counter(lst-ctn-kix_list_5-8, lower-roman) ". ";
}
.lst-kix_list_9-4 > li {
  counter-increment: lst-ctn-kix_list_9-4;
}
.lst-kix_list_5-4 > li:before {
  content: "" counter(lst-ctn-kix_list_5-4, lower-latin) ". ";
}
.lst-kix_list_5-5 > li:before {
  content: "" counter(lst-ctn-kix_list_5-5, lower-roman) ". ";
}
.lst-kix_list_10-3 > li {
  counter-increment: lst-ctn-kix_list_10-3;
}
ol.lst-kix_list_1-0.start {
  counter-reset: lst-ctn-kix_list_1-0 0;
}
.lst-kix_list_6-1 > li:before {
  content: "o  ";
}
.lst-kix_list_6-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_6-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_6-4 > li:before {
  content: "o  ";
}
.lst-kix_list_6-2 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_6-8 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_6-5 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_6-7 > li:before {
  content: "o  ";
}
.lst-kix_list_6-6 > li:before {
  content: "\0025cf  ";
}
ol.lst-kix_list_1-3 {
  list-style-type: none;
}
ol.lst-kix_list_10-6.start {
  counter-reset: lst-ctn-kix_list_10-6 0;
}
ol.lst-kix_list_1-4 {
  list-style-type: none;
}
.lst-kix_list_2-7 > li:before {
  content: "o  ";
}
ol.lst-kix_list_1-5 {
  list-style-type: none;
}
.lst-kix_list_7-4 > li:before {
  content: "o  ";
}
.lst-kix_list_7-6 > li:before {
  content: "\0025cf  ";
}
ol.lst-kix_list_1-6 {
  list-style-type: none;
}
ol.lst-kix_list_1-0 {
  list-style-type: none;
}
.lst-kix_list_2-5 > li:before {
  content: "\0025aa  ";
}
ol.lst-kix_list_1-1 {
  list-style-type: none;
}
ol.lst-kix_list_1-2 {
  list-style-type: none;
}
.lst-kix_list_7-2 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_8-6 > li {
  counter-increment: lst-ctn-kix_list_8-6;
}
ol.lst-kix_list_10-3.start {
  counter-reset: lst-ctn-kix_list_10-3 0;
}
ol.lst-kix_list_9-4.start {
  counter-reset: lst-ctn-kix_list_9-4 0;
}
ul.lst-kix_list_3-7 {
  list-style-type: none;
}
ul.lst-kix_list_3-8 {
  list-style-type: none;
}
ol.lst-kix_list_9-7 {
  list-style-type: none;
}
.lst-kix_list_10-1 > li:before {
  content: "" counter(lst-ctn-kix_list_10-1, lower-latin) ". ";
}
ol.lst-kix_list_9-8 {
  list-style-type: none;
}
ol.lst-kix_list_9-3 {
  list-style-type: none;
}
ul.lst-kix_list_3-1 {
  list-style-type: none;
}
ol.lst-kix_list_9-4 {
  list-style-type: none;
}
ul.lst-kix_list_3-2 {
  list-style-type: none;
}
.lst-kix_list_5-7 > li {
  counter-increment: lst-ctn-kix_list_5-7;
}
ol.lst-kix_list_9-5 {
  list-style-type: none;
}
.lst-kix_list_7-8 > li:before {
  content: "\0025aa  ";
}
ol.lst-kix_list_9-6 {
  list-style-type: none;
}
ul.lst-kix_list_3-0 {
  list-style-type: none;
}
ol.lst-kix_list_1-7 {
  list-style-type: none;
}
ul.lst-kix_list_3-5 {
  list-style-type: none;
}
ol.lst-kix_list_9-0 {
  list-style-type: none;
}
ol.lst-kix_list_1-8 {
  list-style-type: none;
}
ul.lst-kix_list_3-6 {
  list-style-type: none;
}
ol.lst-kix_list_9-1 {
  list-style-type: none;
}
ul.lst-kix_list_3-3 {
  list-style-type: none;
}
ol.lst-kix_list_9-2 {
  list-style-type: none;
}
ul.lst-kix_list_3-4 {
  list-style-type: none;
}
.lst-kix_list_10-7 > li:before {
  content: "" counter(lst-ctn-kix_list_10-7, lower-latin) ". ";
}
.lst-kix_list_10-5 > li:before {
  content: "" counter(lst-ctn-kix_list_10-5, lower-roman) ". ";
}
.lst-kix_list_9-8 > li {
  counter-increment: lst-ctn-kix_list_9-8;
}
.lst-kix_list_10-3 > li:before {
  content: "" counter(lst-ctn-kix_list_10-3, decimal) ". ";
}
.lst-kix_list_4-1 > li:before {
  content: "o  ";
}
.lst-kix_list_9-2 > li:before {
  content: "" counter(lst-ctn-kix_list_9-2, lower-roman) ". ";
}
.lst-kix_list_4-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_4-5 > li:before {
  content: "\0025aa  ";
}
ol.lst-kix_list_5-7.start {
  counter-reset: lst-ctn-kix_list_5-7 0;
}
.lst-kix_list_1-8 > li {
  counter-increment: lst-ctn-kix_list_1-8;
}
.lst-kix_list_10-5 > li {
  counter-increment: lst-ctn-kix_list_10-5;
}
ol.lst-kix_list_1-4.start {
  counter-reset: lst-ctn-kix_list_1-4 0;
}
.lst-kix_list_5-5 > li {
  counter-increment: lst-ctn-kix_list_5-5;
}
ol.lst-kix_list_1-1.start {
  counter-reset: lst-ctn-kix_list_1-1 0;
}
.lst-kix_list_9-0 > li:before {
  content: "" counter(lst-ctn-kix_list_9-0, decimal) ". ";
}
ol.lst-kix_list_10-7 {
  list-style-type: none;
}
ol.lst-kix_list_9-2.start {
  counter-reset: lst-ctn-kix_list_9-2 0;
}
.lst-kix_list_9-6 > li:before {
  content: "" counter(lst-ctn-kix_list_9-6, decimal) ". ";
}
ol.lst-kix_list_10-8 {
  list-style-type: none;
}
.lst-kix_list_9-3 > li {
  counter-increment: lst-ctn-kix_list_9-3;
}
ol.lst-kix_list_10-3 {
  list-style-type: none;
}
.lst-kix_list_9-4 > li:before {
  content: "" counter(lst-ctn-kix_list_9-4, lower-latin) ". ";
}
ol.lst-kix_list_10-4 {
  list-style-type: none;
}
ol.lst-kix_list_10-5 {
  list-style-type: none;
}
ol.lst-kix_list_10-6 {
  list-style-type: none;
}
ol.lst-kix_list_10-0 {
  list-style-type: none;
}
ol.lst-kix_list_10-1 {
  list-style-type: none;
}
ol.lst-kix_list_1-3.start {
  counter-reset: lst-ctn-kix_list_1-3 0;
}
ul.lst-kix_list_2-8 {
  list-style-type: none;
}
ol.lst-kix_list_10-2 {
  list-style-type: none;
}
ol.lst-kix_list_8-8 {
  list-style-type: none;
}
ol.lst-kix_list_1-2.start {
  counter-reset: lst-ctn-kix_list_1-2 0;
}
ol.lst-kix_list_8-4 {
  list-style-type: none;
}
ul.lst-kix_list_2-2 {
  list-style-type: none;
}
ol.lst-kix_list_8-5 {
  list-style-type: none;
}
ul.lst-kix_list_2-3 {
  list-style-type: none;
}
ol.lst-kix_list_8-6 {
  list-style-type: none;
}
ul.lst-kix_list_2-0 {
  list-style-type: none;
}
ol.lst-kix_list_8-7 {
  list-style-type: none;
}
ul.lst-kix_list_2-1 {
  list-style-type: none;
}
ol.lst-kix_list_8-0 {
  list-style-type: none;
}
.lst-kix_list_9-8 > li:before {
  content: "" counter(lst-ctn-kix_list_9-8, lower-roman) ". ";
}
ul.lst-kix_list_2-6 {
  list-style-type: none;
}
ol.lst-kix_list_8-1 {
  list-style-type: none;
}
.lst-kix_list_1-1 > li:before {
  content: "" counter(lst-ctn-kix_list_1-1, lower-latin) ". ";
}
ul.lst-kix_list_2-7 {
  list-style-type: none;
}
ol.lst-kix_list_8-2 {
  list-style-type: none;
}
ul.lst-kix_list_2-4 {
  list-style-type: none;
}
ol.lst-kix_list_8-3 {
  list-style-type: none;
}
ul.lst-kix_list_2-5 {
  list-style-type: none;
}
.lst-kix_list_8-5 > li {
  counter-increment: lst-ctn-kix_list_8-5;
}
.lst-kix_list_1-3 > li:before {
  content: "" counter(lst-ctn-kix_list_1-3, decimal) ". ";
}
.lst-kix_list_10-4 > li {
  counter-increment: lst-ctn-kix_list_10-4;
}
ol.lst-kix_list_10-5.start {
  counter-reset: lst-ctn-kix_list_10-5 0;
}
.lst-kix_list_1-7 > li:before {
  content: "" counter(lst-ctn-kix_list_1-7, lower-latin) ". ";
}
ol.lst-kix_list_5-8.start {
  counter-reset: lst-ctn-kix_list_5-8 0;
}
.lst-kix_list_1-3 > li {
  counter-increment: lst-ctn-kix_list_1-3;
}
.lst-kix_list_1-5 > li:before {
  content: "" counter(lst-ctn-kix_list_1-5, lower-roman) ". ";
}
ol.lst-kix_list_9-1.start {
  counter-reset: lst-ctn-kix_list_9-1 0;
}
.lst-kix_list_5-6 > li {
  counter-increment: lst-ctn-kix_list_5-6;
}
.lst-kix_list_2-1 > li:before {
  content: "o  ";
}
.lst-kix_list_2-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_5-1 > li {
  counter-increment: lst-ctn-kix_list_5-1;
}
.lst-kix_list_1-1 > li {
  counter-increment: lst-ctn-kix_list_1-1;
}
.lst-kix_list_9-1 > li {
  counter-increment: lst-ctn-kix_list_9-1;
}
.lst-kix_list_3-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_3-1 > li:before {
  content: "o  ";
}
.lst-kix_list_3-2 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_8-1 > li:before {
  content: "" counter(lst-ctn-kix_list_8-1, lower-latin) ". ";
}
ol.lst-kix_list_1-8.start {
  counter-reset: lst-ctn-kix_list_1-8 0;
}
.lst-kix_list_8-2 > li:before {
  content: "" counter(lst-ctn-kix_list_8-2, lower-roman) ". ";
}
.lst-kix_list_8-0 > li {
  counter-increment: lst-ctn-kix_list_8-0;
}
.lst-kix_list_3-5 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_10-0 > li {
  counter-increment: lst-ctn-kix_list_10-0;
}
.lst-kix_list_3-4 > li:before {
  content: "o  ";
}
.lst-kix_list_3-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_8-0 > li:before {
  content: "" counter(lst-ctn-kix_list_8-0, decimal) ". ";
}
.lst-kix_list_8-7 > li:before {
  content: "" counter(lst-ctn-kix_list_8-7, lower-latin) ". ";
}
.lst-kix_list_3-8 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_8-5 > li:before {
  content: "" counter(lst-ctn-kix_list_8-5, lower-roman) ". ";
}
ol.lst-kix_list_10-7.start {
  counter-reset: lst-ctn-kix_list_10-7 0;
}
.lst-kix_list_8-6 > li:before {
  content: "" counter(lst-ctn-kix_list_8-6, decimal) ". ";
}
.lst-kix_list_8-3 > li:before {
  content: "" counter(lst-ctn-kix_list_8-3, decimal) ". ";
}
.lst-kix_list_3-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_3-7 > li:before {
  content: "o  ";
}
.lst-kix_list_8-4 > li:before {
  content: "" counter(lst-ctn-kix_list_8-4, lower-latin) ". ";
}
ol.lst-kix_list_5-0.start {
  counter-reset: lst-ctn-kix_list_5-0 0;
}
.lst-kix_list_10-2 > li {
  counter-increment: lst-ctn-kix_list_10-2;
}
ol.lst-kix_list_8-5.start {
  counter-reset: lst-ctn-kix_list_8-5 0;
}
ol.lst-kix_list_9-3.start {
  counter-reset: lst-ctn-kix_list_9-3 0;
}
.lst-kix_list_8-8 > li:before {
  content: "" counter(lst-ctn-kix_list_8-8, lower-roman) ". ";
}
ol.lst-kix_list_10-1.start {
  counter-reset: lst-ctn-kix_list_10-1 0;
}
.lst-kix_list_4-8 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_4-7 > li:before {
  content: "o  ";
}
ul.lst-kix_list_4-8 {
  list-style-type: none;
}
ol.lst-kix_list_5-6.start {
  counter-reset: lst-ctn-kix_list_5-6 0;
}
ul.lst-kix_list_4-6 {
  list-style-type: none;
}
ul.lst-kix_list_4-7 {
  list-style-type: none;
}
.lst-kix_list_8-4 > li {
  counter-increment: lst-ctn-kix_list_8-4;
}
ul.lst-kix_list_4-0 {
  list-style-type: none;
}
ul.lst-kix_list_4-1 {
  list-style-type: none;
}
ol.lst-kix_list_10-8.start {
  counter-reset: lst-ctn-kix_list_10-8 0;
}
ul.lst-kix_list_4-4 {
  list-style-type: none;
}
ul.lst-kix_list_4-5 {
  list-style-type: none;
}
ul.lst-kix_list_4-2 {
  list-style-type: none;
}
ul.lst-kix_list_4-3 {
  list-style-type: none;
}
ol.lst-kix_list_8-6.start {
  counter-reset: lst-ctn-kix_list_8-6 0;
}
ol.lst-kix_list_10-2.start {
  counter-reset: lst-ctn-kix_list_10-2 0;
}
ol.lst-kix_list_5-5.start {
  counter-reset: lst-ctn-kix_list_5-5 0;
}
ol.lst-kix_list_8-0.start {
  counter-reset: lst-ctn-kix_list_8-0 0;
}
.lst-kix_list_7-0 > li:before {
  content: "\0025cf  ";
}
ol.lst-kix_list_5-0 {
  list-style-type: none;
}
.lst-kix_list_2-6 > li:before {
  content: "\0025cf  ";
}
ol.lst-kix_list_5-1 {
  list-style-type: none;
}
ol.lst-kix_list_9-7.start {
  counter-reset: lst-ctn-kix_list_9-7 0;
}
ol.lst-kix_list_5-2 {
  list-style-type: none;
}
.lst-kix_list_2-4 > li:before {
  content: "o  ";
}
.lst-kix_list_2-8 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_7-1 > li:before {
  content: "o  ";
}
.lst-kix_list_7-5 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_9-6 > li {
  counter-increment: lst-ctn-kix_list_9-6;
}
ol.lst-kix_list_5-4.start {
  counter-reset: lst-ctn-kix_list_5-4 0;
}
.lst-kix_list_7-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_list_7-5 {
  list-style-type: none;
}
.lst-kix_list_10-0 > li:before {
  content: "" counter(lst-ctn-kix_list_10-0, lower-latin) ") ";
}
ul.lst-kix_list_7-6 {
  list-style-type: none;
}
ul.lst-kix_list_7-3 {
  list-style-type: none;
}
.lst-kix_list_9-7 > li {
  counter-increment: lst-ctn-kix_list_9-7;
}
ul.lst-kix_list_7-4 {
  list-style-type: none;
}
ol.lst-kix_list_5-1.start {
  counter-reset: lst-ctn-kix_list_5-1 0;
}
ul.lst-kix_list_7-7 {
  list-style-type: none;
}
ul.lst-kix_list_7-8 {
  list-style-type: none;
}
ol.lst-kix_list_5-7 {
  list-style-type: none;
}
ol.lst-kix_list_5-8 {
  list-style-type: none;
}
.lst-kix_list_10-6 > li {
  counter-increment: lst-ctn-kix_list_10-6;
}
ol.lst-kix_list_5-3 {
  list-style-type: none;
}
ul.lst-kix_list_7-1 {
  list-style-type: none;
}
.lst-kix_list_8-7 > li {
  counter-increment: lst-ctn-kix_list_8-7;
}
ol.lst-kix_list_5-4 {
  list-style-type: none;
}
ul.lst-kix_list_7-2 {
  list-style-type: none;
}
.lst-kix_list_1-7 > li {
  counter-increment: lst-ctn-kix_list_1-7;
}
ol.lst-kix_list_5-5 {
  list-style-type: none;
}
ol.lst-kix_list_5-6 {
  list-style-type: none;
}
ul.lst-kix_list_7-0 {
  list-style-type: none;
}
.lst-kix_list_7-7 > li:before {
  content: "o  ";
}
ol.lst-kix_list_10-0.start {
  counter-reset: lst-ctn-kix_list_10-0 0;
}
ol.lst-kix_list_8-1.start {
  counter-reset: lst-ctn-kix_list_8-1 0;
}
.lst-kix_list_9-5 > li {
  counter-increment: lst-ctn-kix_list_9-5;
}
.lst-kix_list_5-8 > li {
  counter-increment: lst-ctn-kix_list_5-8;
}
.lst-kix_list_10-4 > li:before {
  content: "" counter(lst-ctn-kix_list_10-4, lower-latin) ". ";
}
.lst-kix_list_10-8 > li:before {
  content: "" counter(lst-ctn-kix_list_10-8, lower-roman) ". ";
}
.lst-kix_list_4-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_10-2 > li:before {
  content: "" counter(lst-ctn-kix_list_10-2, lower-roman) ". ";
}
ol.lst-kix_list_1-7.start {
  counter-reset: lst-ctn-kix_list_1-7 0;
}
.lst-kix_list_4-4 > li:before {
  content: "o  ";
}
.lst-kix_list_1-5 > li {
  counter-increment: lst-ctn-kix_list_1-5;
}
.lst-kix_list_4-2 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_4-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_9-3 > li:before {
  content: "" counter(lst-ctn-kix_list_9-3, decimal) ". ";
}
.lst-kix_list_10-8 > li {
  counter-increment: lst-ctn-kix_list_10-8;
}
.lst-kix_list_10-6 > li:before {
  content: "" counter(lst-ctn-kix_list_10-6, decimal) ". ";
}
.lst-kix_list_9-1 > li:before {
  content: "" counter(lst-ctn-kix_list_9-1, lower-latin) ". ";
}
.lst-kix_list_9-7 > li:before {
  content: "" counter(lst-ctn-kix_list_9-7, lower-latin) ". ";
}
.lst-kix_list_9-5 > li:before {
  content: "" counter(lst-ctn-kix_list_9-5, lower-roman) ". ";
}
ul.lst-kix_list_6-6 {
  list-style-type: none;
}
ul.lst-kix_list_6-7 {
  list-style-type: none;
}
.lst-kix_list_5-3 > li {
  counter-increment: lst-ctn-kix_list_5-3;
}
ul.lst-kix_list_6-4 {
  list-style-type: none;
}
ul.lst-kix_list_6-5 {
  list-style-type: none;
}
ul.lst-kix_list_6-8 {
  list-style-type: none;
}
.lst-kix_list_1-0 > li:before {
  content: "" counter(lst-ctn-kix_list_1-0, lower-latin) ") ";
}
ul.lst-kix_list_6-2 {
  list-style-type: none;
}
ul.lst-kix_list_6-3 {
  list-style-type: none;
}
.lst-kix_list_1-2 > li:before {
  content: "" counter(lst-ctn-kix_list_1-2, lower-roman) ". ";
}
ul.lst-kix_list_6-0 {
  list-style-type: none;
}
ul.lst-kix_list_6-1 {
  list-style-type: none;
}
ol.lst-kix_list_8-4.start {
  counter-reset: lst-ctn-kix_list_8-4 0;
}
.lst-kix_list_1-4 > li:before {
  content: "" counter(lst-ctn-kix_list_1-4, lower-latin) ". ";
}
.lst-kix_list_10-1 > li {
  counter-increment: lst-ctn-kix_list_10-1;
}
.lst-kix_list_1-0 > li {
  counter-increment: lst-ctn-kix_list_1-0;
}
.lst-kix_list_8-8 > li {
  counter-increment: lst-ctn-kix_list_8-8;
}
.lst-kix_list_1-6 > li {
  counter-increment: lst-ctn-kix_list_1-6;
}
.lst-kix_list_1-6 > li:before {
  content: "" counter(lst-ctn-kix_list_1-6, decimal) ". ";
}
.lst-kix_list_10-7 > li {
  counter-increment: lst-ctn-kix_list_10-7;
}
.lst-kix_list_2-0 > li:before {
  content: "-  ";
}
ol.lst-kix_list_8-3.start {
  counter-reset: lst-ctn-kix_list_8-3 0;
}
ol.lst-kix_list_9-8.start {
  counter-reset: lst-ctn-kix_list_9-8 0;
}
.lst-kix_list_1-8 > li:before {
  content: "" counter(lst-ctn-kix_list_1-8, lower-roman) ". ";
}
.lst-kix_list_2-2 > li:before {
  content: "\0025aa  ";
}
ol.lst-kix_list_5-2.start {
  counter-reset: lst-ctn-kix_list_5-2 0;
}
.lst-kix_list_8-2 > li {
  counter-increment: lst-ctn-kix_list_8-2;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c8 {
  -webkit-text-decoration-skip: none;
  color: #002060;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}
.c3 {
  padding-top: 10pt;
  padding-bottom: 0pt;
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c6 {
  color: #002060;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Arial";
  font-style: normal;
}
.c27 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c22 {
  font-size: 14pt;
  font-family: "Arial";
  color: #0000ff;
  font-weight: 400;
  text-decoration: none;
}
.c23 {
  font-size: 14pt;
  font-family: "Arial";
  color: #002060;
  font-weight: 700;
}
.c26 {
  color: #0070c0;
  font-weight: 700;
  font-size: 26pt;
  font-family: "Arial";
}
.c1 {
  font-size: 14pt;
  font-family: "Arial";
  color: #00b050;
  font-weight: 400;
}
.c11 {
  font-size: 14pt;
  font-family: "Arial";
  color: #002060;
  font-weight: 400;
}
.c13 {
  font-size: 14pt;
  font-family: "Arial";
  color: #00b050;
  font-weight: 700;
}
.c0 {
  font-size: 14pt;
  font-family: "Arial";
  color: #000000;
  font-weight: 400;
}
.c17 {
  color: #002060;
  font-weight: 700;
  font-size: 16pt;
  font-family: "Arial";
}
.c5 {
  font-size: 14pt;
  font-family: "Arial";
  color: #000000;
  font-weight: 700;
}
.c21 {
  color: #2929f3;
  font-weight: 400;
  font-size: 14pt;
  font-family: "Arial";
}
.c18 {
  font-size: 14pt;
  font-family: "Arial";
  color: #1f497d;
  font-weight: 400;
}
.c7 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c24 {
  font-size: 14pt;
  font-family: "Arial";
  font-weight: 400;
}
.c14 {
  margin-left: 36pt;
  text-indent: -36pt;
  page-break-after: avoid;
}
.c12 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c25 {
  background-color: #ffffff;
  padding: 30px;
}
.c16 {
  color: inherit;
  text-decoration: inherit;
}
.c28 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c19 {
  margin-left: 36pt;
  text-indent: -36pt;
}
.c10 {
  text-decoration: none;
  vertical-align: baseline;
}
.c15 {
  padding: 0;
  margin: 0;
}
.c4 {
  font-style: italic;
}
.c20 {
  page-break-after: avoid;
}
.c9 {
  height: 11pt;
}
.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Calibri";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Calibri";
}
h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 10pt;
  color: #4f81bd;
  font-weight: 700;
  font-size: 13pt;
  padding-bottom: 0pt;
  font-family: "Cambria";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
</style>
